@font-face {
  src: url('./ttf/Unbounded-Light.ttf') format('truetupe');
  font-family: 'Unbounded';
  font-weight: 300;
}

@font-face {
  src: url('./ttf/Unbounded-Regular.ttf') format('truetupe');
  font-family: 'Unbounded';
  font-weight: 400;
}

@font-face {
  src: url('./ttf/Unbounded-Medium.ttf') format('truetupe');
  font-family: 'Unbounded';
  font-weight: 500;
}
