@use 'mixins' as *;

.select {
  font-family: 'Unbounded', 'Arial', sans-serif;
  @include flex-center-between;
  max-width: 1130px;
  margin: 0 auto;
  gap: 20px;
  padding: 0 40px;
}

@media screen and (min-width: 360px) and (max-width: 920px){
  .select {
    max-width: 310px;
    @include flex-center-column;
    gap: 10px;
  }
}
