@use 'mixins' as *;

.content {
  font-family: 'Unbounded', 'Arial', sans-serif;
  padding: 0 40px;
  max-width: 769px;
  margin: 0 auto;
  text-align: center;
  @include flex-center-column;
  gap: 8px;
  margin-bottom: 34px;
  overflow-wrap: break-word;
}

.content-bottom {
  max-width: 880px;
  margin-bottom: 80px;
}

@media screen and (min-width: 360px) and (max-width: 640px) {
  .content, .content-bottom {
    max-width: 310px;
  }
}
